

body{
    background-color: aliceblue;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.Calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid;
    width: 500px;
    padding: 20px;
    background-color:tan;
    margin: auto;
    border-radius: 10px;
}
/* screen */
.header{
    font-size:large;
    margin: 1px;
}


.display{
    display: flex;
    flex-direction:column;
    justify-content:center;
    text-align: left;
    padding-top: 10px;
    border: solid;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-color: lightgray;
}

#operation{
    font-size: 20px;
    padding-left: 5%;
}

#number{
    font-size: 50px;
    padding-top: 20px;
    padding-left:  5%;
    overflow: auto;
}

/* operation */
.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: solid;
    border-width: 2px;
}

button{
    width: 25%;
    height: 130px;
    background-color:tomato;
    border: solid;
    border-width: 1px;
    font-size: 50px;
}

button:hover{
    background-color: rgb(209, 84, 62);
}

button:active{
    background-color: rgb(241, 144, 127);
}



